name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  gomodtidy:
    name: tidy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: go mod tidy
        run: go mod tidy
      - name: git diff
        run: |
          git diff --exit-code --quiet
          if [ $? -ne 0 ]; then
            echo "Please run 'go mod tidy' and commit the changes"
            exit 1
          fi
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
  gotest:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: go test
        run: go test -v -race -cover ./...
